/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background-color: #f6f6f6;
}
/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "work sans", sans-serif;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small screens */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* medium screens */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large screens */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* start components */
.spicial-heading {
    color: #ebeced;
    font-weight: 800px;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.spicial-heading + p {
    margin: -30px 0 0;
    color: #797979;
    font-size: 20px;
    text-align: center;

}
@media (max-width: 767px) {
    .spicial-heading{
        font-size: 60px;
    }
    .spicial-heading +p{
        margin: -20px;
        font-size: 15px;
    }
}
/* end components */
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.header .icon span{
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child{
    width: 100%;
    
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child{
   width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
@media (min-width: 320px){
    .landing .intro-text {
        transform: translateX(-45%);
    }
}
@media (min-width: 767px){
    .landing .intro-text {
        top: 40%;
    }
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing section */
/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .feat {
    text-align: center;
    padding: 20px;
}
@media(min-width:767px){
     .features .feat:last-of-type{
         position: relative;
         left: 50%;
     }
}
@media(min-width: 1024px){
    .features .feat:last-of-type{
        left: 0;
    }
}
/* @media(max-width: 1999px){
    .features .feat:last-of-type{
        position: relative;
        left: 0%;
        
    }
}
@media(max-width: 991px){
    .features .feat:last-of-type{
        position: relative;
        left: 50%
    }
} */

.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}
.features .feat p {
    font-size: 17px;
    color: #575757;
    line-height: 1.8;
}
/* end features */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 768px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
/* @media(min-width: 768px){
    .services .services-content .srv:nth-of-type(3) {
       padding-bottom: 20px;
    }
} */

.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex: 1;
}
/* @media (min-width: 767px){
    .services .services-content .srv .text:first-of-type{
        padding-left: 10px;
        margin-left: 10px;
    }
} */
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}

.services .services-content .srv .text p{
    line-height: 1.6;
    font-weight: 300;
    color: #575757;
    max-width: 300px;
}
@media(min-width: 767px){
    .services .services-content .srv .text p{
        margin: auto;
    }
}
@media(min-width: 375px){
    .services .services-content .srv .text p{
        margin: auto;
    }
}
.services .services-content .image{
    text-align: center;
    position: relative;
}
.services .services-content .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    top: -50px;
    height: calc(100% + 100px);
    right: 0;
    z-index: -1;
}
@media (max-width:1199px){
    .image-before {
      display: none;
    }
}

.services .services-content .image img{
    width: 260px;
} 
/* end services */
/* start portofolio */
.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.portofolio .portofolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portofolio .portofolio-content .card{
    background-color: white;
}
@media(max-width: 1999px){
    .portofolio .portofolio-content .card:last-of-type{
        position: relative;
        left: 50%;
    }
}
@media(min-width: 1200px){
    .portofolio .portofolio-content .card:last-of-type{
        position: relative;
        left: 0%;
    }
}
@media(min-width: 1440px){
    .portofolio .portofolio-content .card:last-of-type{
        position: relative;
        right: 0%;
    }
}
@media(max-width: 767px){
    .portofolio .portofolio-content .card:last-of-type{
        position: relative;
        left: 0%;
    }
}
@media(min-width: 767px){
    .portofolio .portofolio-content .card:last-of-type{
        position: relative;
        left: 0;
    }
}
.portofolio .portofolio-content .card img{
    max-width: 100%;
}


.portofolio .portofolio-content .card .info{
    padding: 20px;
}
.portofolio .portofolio-content .card .info h3{
    margin: 0;
}
.portofolio .portofolio-content .card .info p{
    line-height: 1.6;
    color: #575757;
    margin-bottom: 0;
}
/* button {
    position: absolute;
    right: 45%;
    padding: 5px;
    font-size: 10px;
    font-weight: 800;
    border-top: rgb(39, 39, 39) solid 2px;
    border-bottom: grey solid 1px;
    border-right: grey solid 1px;
    border-left: grey solid 1px;
    box-shadow: 0 0 10px rgb(54, 53, 53);
    border-radius: 3px;
    margin-top: 10px;
}
@media(min-width: 320px){
    button{
        position: absolute;
        right: 35%;
    }
}
@media(min-width: 768px){
    button{
        position: absolute;
        right: 45%;
    }
} */

/* end portofolio */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(max-width: 991px){
    .about .about-content{
        text-align: center;
        flex-direction: column;
    }
}
.about .about-content .image{
    width: 250px;
    height: 375px;
    position: relative;
}
@media(max-width: 991px){
    .about .about-content .image{
        margin: 0 auto 60px;
    }
}
.about .about-content .image:before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
  background-color: var(--section-background-color);
}
.about .about-content .image:after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  top: -40px;
  right: -150px;
  z-index: -1;
}
@media(max-width: 991px){
    .about .about-content .image:before,
    .about .about-content .image:after{
        display: none;
    }
}
.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
/* @media(max-width: 991px){
    .about .about-content .text{
        text-align: center;
        padding: 0 50px 0 50px;
    }
} */
.about .about-content .text p:first-of-type{
    line-height: 2;
    margin-bottom: 50px;
    font-weight: bold;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #797979;
}
.about .about-content .text hr{
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
/* start contact */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-weight: 800;
    font-size: 35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link{
    color: var(--main-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    display: block;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media(max-width: 767px){
    .contact .info .label{
        font-size: 25px;
    }
    .contact .info .link{
        font-size: 20px;
    }
    .contact .info .social{
        font-size: 10px;
    }
   
}
/* end contact */
/* start footer */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
span{
    color: var(--main-color);
    font-weight: bold;
}
/* end footer */

/* hr {
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 border: 1px solid var(--main-color);
 width: 300px;
 padding-right: 50px;

} */

/* end about */